@model List<Category>
@section Title {Categories}
@section SubTitle {Show}
@section button{

    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary ">Create</a>
}
@if (!Model.Any())
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
      No data
    </div>
}
else
{
     <div class="card-body w-100">
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Name</th
                <th>Actions</th>
          
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id" >Edit</a></td>
                </tr>
            }
          
    
    </tbody>
</table>
</div>
}


    